{% extends 'corsi/base.html' %}

{% block content %}


<h1 class="titoli" style="font-family: 'Permanent Marker', cursive;">Settimana Flessibile</h1>
<br><br>
<h3 style="color: red;">Autorizzazioni:</h3>
<br>
{%for convalida in convalida%}
{%if convalida.convalida == False%}
  <form method="GET" class="post-form">
    {% csrf_token %}
<h5>Accetti di partecipare al corso: <b>{{convalida.corso}}</b></h5>


<a type="submit" id="bottone{{approvazione}}" class="btn btn-primary" href="?idcorso={{convalida.corso_id}}" name="{{convalida.corso_id}}">Accetto</a>

</form>
<br>
<br>
  {%endif%}
{%endfor%}

<h3 style="color: red;">Avvisi:</h3>

{%for comunicazioni in comunicazioni%}
<div class="card">
  <div class="card-header">
<h4>{{comunicazioni.titolo}}</h4>
</div>

<div class="card-body">
<p>{{comunicazioni.comunicazione}}</p>
</div>
</div>
<br>
{%endfor%}

{% endblock content %}
