{% extends 'corsi/base.html' %}

{% block head %}

  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">

{% endblock %}

{% block content %}



    {% for iscrizione in iscrizioni%}

    <div class="panel panel-default">

      <div class="panel-heading">
        <p><b>{{user}}</b></p>
      </div>


      <div class="container"></div>
<!--
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">M</th>
            <th scope="col">G</th>
            <th scope="col">V</th>
          </tr>

        </thead>
        </table>
-->


</div>
<div class="pure-g stripeddivs">

</div>

<div class="pure-g stripeddivs" id="main-content">
  <div >
    <br>
     <div class="pure-u-lg-1-5 pure-u-md-1-1 pure-u-sm-1-1 pure-u-1-1"><h6>Mercoledì</h6></div>
     <div class="pure-u-lg-1-5 pure-u-md-1-1 pure-u-sm-1-1 pure-u-1-1"><div style="display:inline-block;" class="imieicorsimenu"><pre><p style="display:inline-block">1-2: </p> {% if iscrizione.corso1 == None %}<img class="icone" src="/static/x.svg" alt="modifica">  <a href="/filtro_fasce/?f=f1"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/>{% else %}<h6 style="display:inline-block;" class="titolocorso">{{iscrizione.corso1}}</h6> <a href="{% url 'elimina' iscrizione.corso1.id  %}?f=f1"><img class="icone" src="/static/cestino.svg" alt="elimina"><a/>{% endif %} </pre></div></div>
     <div class="pure-u-lg-1-5 pure-u-md-1-1 pure-u-sm-1-1 pure-u-1-1"><div style="display:inline-block;" class="imieicorsimenu"><pre><p style="display:inline-block">3-4: </p> {% if iscrizione.corso2 == None %}<img class="icone" src="/static/x.svg" alt="modifica">  <a href="/filtro_fasce/?f=f2"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/>{% else %}<h6 style="display:inline-block;" class="titolocorso">{{iscrizione.corso2}}</h6> <a href="{% url 'elimina' iscrizione.corso2.id  %}?f=f2"><img class="icone" src="/static/cestino.svg" alt="elimina"><a/>{% endif %} </pre></div></div>
     <div class="pure-u-lg-1-5 pure-u-md-1-1 pure-u-sm-1-1 pure-u-1-1"><div style="display:inline-block;" class="imieicorsimenu"><pre><p style="display:inline-block">5-6: </p> {% if iscrizione.corso3 == None %}<img class="icone" src="/static/x.svg" alt="modifica">  <a href="/filtro_fasce/?f=f3"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/>{% else %}<h6 style="display:inline-block;" class="titolocorso">{{iscrizione.corso3}}</h6> <a href="{% url 'elimina' iscrizione.corso3.id  %}?f=f3"><img class="icone" src="/static/cestino.svg" alt="elimina"><a/>{% endif %} </pre></div></div>
</div>
<br>
<div >
  <br>
    <div class="pure-u-lg-1-5 pure-u-md-1-1 pure-u-sm-1-1 pure-u-1-1"><h6>Giovedì</h6></div>
    <div class="pure-u-lg-1-5 pure-u-md-1-1 pure-u-sm-1-1 pure-u-1-1"><div style="display:inline-block;" class="imieicorsimenu"><pre><p style="display:inline-block">1-2: </p> {% if iscrizione.corso4 == None %}<img class="icone" src="/static/x.svg" alt="modifica">  <a href="/filtro_fasce/?f=f4"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/>{% else %}<h6 style="display:inline-block;" class="titolocorso">{{iscrizione.corso4}}</h6> <a href="{% url 'elimina' iscrizione.corso4.id  %}?f=f4"><img class="icone" src="/static/cestino.svg" alt="elimina"><a/>{% endif %} </pre></div></div>
    <div class="pure-u-lg-1-5 pure-u-md-1-1 pure-u-sm-1-1 pure-u-1-1"><div style="display:inline-block;" class="imieicorsimenu"><pre><p style="display:inline-block">3-4: </p> {% if iscrizione.corso5 == None %}<img class="icone" src="/static/x.svg" alt="modifica">  <a href="/filtro_fasce/?f=f5"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/>{% else %}<h6 style="display:inline-block;" class="titolocorso">{{iscrizione.corso5}}</h6> <a href="{% url 'elimina' iscrizione.corso5.id  %}?f=f5"><img class="icone" src="/static/cestino.svg" alt="elimina"><a/>{% endif %} </pre></div></div>
    <div class="pure-u-lg-1-5 pure-u-md-1-1 pure-u-sm-1-1 pure-u-1-1"><div style="display:inline-block;" class="imieicorsimenu"><pre><p style="display:inline-block">5-6: </p> {% if iscrizione.corso6 == None %}<img class="icone" src="/static/x.svg" alt="modifica">  <a href="/filtro_fasce/?f=f6"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/>{% else %}<h6 style="display:inline-block;" class="titolocorso">{{iscrizione.corso6}}</h6> <a href="{% url 'elimina' iscrizione.corso6.id  %}?f=f6"><img class="icone" src="/static/cestino.svg" alt="elimina"><a/>{% endif %} </pre></div></div>
</div>
<br>
<div >
  <br>
    <div class="pure-u-lg-1-5 pure-u-md-1-1 pure-u-sm-1-1 pure-u-1-1"><h6>Venerdì</h6></div>
    <div class="pure-u-lg-1-5 pure-u-md-1-1 pure-u-sm-1-1 pure-u-1-1"><div style="display:inline-block;" class="imieicorsimenu"><pre><p style="display:inline-block">1-2: </p> {% if iscrizione.corso7 == None %}<img class="icone" src="/static/x.svg" alt="modifica">  <a href="/filtro_fasce/?f=f7"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/>{% else %}<h6 style="display:inline-block;" class="titolocorso">{{iscrizione.corso7}}</h6> <a href="{% url 'elimina' iscrizione.corso7.id  %}?f=f7"><img class="icone" src="/static/cestino.svg" alt="elimina"><a/>{% endif %} </pre></div></div>
    <div class="pure-u-lg-1-5 pure-u-md-1-1 pure-u-sm-1-1 pure-u-1-1"><div style="display:inline-block;" class="imieicorsimenu"><pre><p style="display:inline-block">3-4: </p> {% if iscrizione.corso8 == None %}<img class="icone" src="/static/x.svg" alt="modifica">  <a href="/filtro_fasce/?f=f8"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/>{% else %}<h6 style="display:inline-block;" class="titolocorso">{{iscrizione.corso8}}</h6> <a href="{% url 'elimina' iscrizione.corso8.id  %}?f=f8"><img class="icone" src="/static/cestino.svg" alt="elimina"><a/>{% endif %} </pre></div></div>
    <div class="pure-u-lg-1-5 pure-u-md-1-1 pure-u-sm-1-1 pure-u-1-1"><div style="display:inline-block;" class="imieicorsimenu"><pre><p style="display:inline-block">5-6: </p> {% if iscrizione.corso9 == None %}<img class="icone" src="/static/x.svg" alt="modifica">  <a href="/filtro_fasce/?f=f9"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/>{% else %}<h6 style="display:inline-block;" class="titolocorso">{{iscrizione.corso9}}</h6> <a href="{% url 'elimina' iscrizione.corso9.id  %}?f=f9"><img class="icone" src="/static/cestino.svg" alt="elimina"><a/>{% endif %} </pre></div></div>
</div>

    </div>


<div id="alternative">

  <table class="table table-striped">
    <thead>
      <tr>
<th scope="col">#</th>
<th scope="col">Mercoledì</th>
<th scope="col">Giovedì</th>
<th scope="col">Venerdì</th>
</tr>

</thead>

<tr> <th scope="row">1.</th>
  <td>{% if iscrizione.corso1 == None %}<img class="icone" src="/static/x.svg" alt="modifica">  <a href="/filtro_fasce/?f=f1"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/>{% else %}{{iscrizione.corso1}} <a href="{% url 'elimina' iscrizione.corso1.id  %}?f=f1"><img class="icone" src="/static/cestino.svg" alt="elimina"><a/>{% endif %} </td>
  <td>{% if iscrizione.corso4 == None %}<img class="icone" src="/static/x.svg" alt="modifica">  <a href="/filtro_fasce/?f=f4"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/>{% else %}{{iscrizione.corso4}} <a href="{% url 'elimina' iscrizione.corso4.id  %}?f=f4"><img class="icone" src="/static/cestino.svg" alt="elimina"><a/>{% endif %} </td>
  <td>{% if iscrizione.corso7 == None %}<img class="icone" src="/static/x.svg" alt="modifica">  <a href="/filtro_fasce/?f=f7"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/>{% else %}{{iscrizione.corso7}} <a href="{% url 'elimina' iscrizione.corso7.id  %}?f=f7"><img class="icone" src="/static/cestino.svg" alt="elimina"><a/>{% endif %} </td>
</tr>
<tr> <th scope="row">2.</th>
  <td>{% if iscrizione.corso2 == None %}<img class="icone" src="/static/x.svg" alt="modifica">  <a href="/filtro_fasce/?f=f2"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/>{% else %}{{iscrizione.corso2}} <a href="{% url 'elimina' iscrizione.corso2.id  %}?f=f2"><img class="icone" src="/static/cestino.svg" alt="elimina"><a/>{% endif %} </td>
  <td>{% if iscrizione.corso5 == None %}<img class="icone" src="/static/x.svg" alt="modifica">  <a href="/filtro_fasce/?f=f5"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/>{% else %}{{iscrizione.corso5}} <a href="{% url 'elimina' iscrizione.corso5.id  %}?f=f5"><img class="icone" src="/static/cestino.svg" alt="elimina"><a/>{% endif %} </td>
  <td>{% if iscrizione.corso8 == None %}<img class="icone" src="/static/x.svg" alt="modifica">  <a href="/filtro_fasce/?f=f8"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/>{% else %}{{iscrizione.corso8}} <a href="{% url 'elimina' iscrizione.corso8.id  %}?f=f8"><img class="icone" src="/static/cestino.svg" alt="elimina"><a/>{% endif %} </td>

</tr>
<tr> <th scope="row">3.</th>
  <td>{% if iscrizione.corso3 == None %}<img class="icone" src="/static/x.svg" alt="modifica">  <a href="/filtro_fasce/?f=f3"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/>{% else %}{{iscrizione.corso3}} <a href="{% url 'elimina' iscrizione.corso3.id  %}?f=f3"><img class="icone" src="/static/cestino.svg" alt="elimina"><a/>{% endif %} </td>
  <td>{% if iscrizione.corso6 == None %}<img class="icone" src="/static/x.svg" alt="modifica">  <a href="/filtro_fasce/?f=f6"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/>{% else %}{{iscrizione.corso6}} <a href="{% url 'elimina' iscrizione.corso6.id  %}?f=f6"><img class="icone" src="/static/cestino.svg" alt="elimina"><a/>{% endif %} </td>
  <td>{% if iscrizione.corso9 == None %}<img class="icone" src="/static/x.svg" alt="modifica">  <a href="/filtro_fasce/?f=f9"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/>{% else %}{{iscrizione.corso9}} <a href="{% url 'elimina' iscrizione.corso9.id  %}?f=f6"><img class="icone" src="/static/cestino.svg" alt="elimina"><a/>{% endif %} </td>

</tr>

</table>
</div>
{%endfor%}

<script type="text/javascript">

  var mobile = ""
  var desktop = ""
function adjust_table(width, height) {
  var final = ""
  if (width <= 1000) {
    final = mobile
  } else {
    final = desktop;
  }




$('#main-content').html(final)
}
window.onresize = function () {
  win = $(this);
  adjust_table(win.width(), win.height());
  console.log(win.width())

}


  $( document ).ready(function() {

    $(".titolocorso" ).each(function( index ) {
      var contenuto = $(this).html()
      if (contenuto.length > 23) {
        $(this).html(contenuto.slice(0,20)+"...")
      }
  });
  mobile = $('#main-content').html()
  desktop = $('#alternative').html()
  $('#alternative').html("")
  adjust_table( $(document).width())
});
</script>
{% endblock content %}
