{% extends 'corsi/base.html' %}

{% block content %}

<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/base-min.css">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-min.css">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">

<form method="GET" action=""> {{ form.q }}<input type="submit" value="Search"> <a href="/tabelle">indietro</a>
  <p>numero corsi tot: {{corsi.count}}</p>
</form>


    <p>{{ ripetiziones }} </p>

    <table class="table table-striped">
      <thead>
        <!--
        <tr>
          <th scope="col">Titolo</th>
          <th scope="col">Autori</th>
          <th scope="col">Sezione Autori</th>
          <th scope="col">Classe Richiesta</th>
          <th scope="col">Progressivo?</th>
          <th scope="col">f1({{contatore.0}})</th>
          <th scope="col">f2({{contatore.1}})</th>
          <th scope="col">f3({{contatore.2}})</th>
          <th scope="col">f4({{contatore.3}})</th>
          <th scope="col">f5({{contatore.4}})</th>
          <th scope="col">f6({{contatore.5}})</th>
          <th scope="col">f7({{contatore.6}})</th>
          <th scope="col">f8({{contatore.7}})</th>
          <th scope="col">f9({{contatore.8}})</th>
        </tr>
        -->
      </thead>
    <tbody>
    {% for corso in corsi%}
    <tr>
      <table class="table table-striped">
        <div class="pure-u-1-1 pure-u-md-1-1 pure-u-sm-1-1 pure-u-lg-1-3 pure-u-xl-1-6">Titolo: <a href="/{{corso.id}}/appello">{{ corso.titolo }}<a></div>
        <div class="pure-u-1-1 pure-u-md-1-3 pure-u-sm-1-1 pure-u-lg-1-3 pure-u-xl-1-8">stud1:</div>
        <div class="pure-u-1-1 pure-u-md-1-3 pure-u-sm-1-1 pure-u-lg-1-3 pure-u-xl-1-8">stud2:</div>
        <div class="pure-u-1-1 pure-u-md-1-3 pure-u-sm-1-1 pure-u-lg-1-3 pure-u-xl-1-8">stud3:</div>
        <div class="pure-u-1-1 pure-u-md-1-3 pure-u-sm-1-1 pure-u-lg-1-3 pure-u-xl-1-8">stud4:</div>
        <div class="pure-u-1-1 pure-u-md-1-3 pure-u-sm-1-1 pure-u-lg-1-3 pure-u-xl-1-8">stud5:</div>
        <div class="pure-u-1-1 pure-u-md-1-3 pure-u-sm-1-1 pure-u-lg-1-3 pure-u-xl-1-8">Aula: {{corso.aule}}</div>
        <div class="pure-u-1-1 pure-u-md-1-3 pure-u-sm-1-1 pure-u-lg-1-3 pure-u-xl-1-24">Progressivo: {{corso.progressivo}}</div>
        <br>
        <div class="pure-u-1-1 pure-u-md-1-1 pure-u-sm-1-1 pure-u-lg-1-1 pure-u-xl-1-1">
          <table class="table table-striped">
            <tr><td>📗</td><td>📘</td><td>📕</td><td>f7: {% if corso.f7 %} ✅ {%else%} ❌ {% endif %}</td></tr>
            <tr><td>f1: {% if corso.f1 %} ✅ {%else%} ❌ {% endif %}</td><td>f3: {% if corso.f3 %} ✅ {%else%} ❌ {% endif %}</td><td>f5: {% if corso.f5 %} ✅ {%else%} ❌ {% endif %}</td><td>f8: {% if corso.f8 %} ✅ {%else%} ❌ {% endif %}</td></tr>
            <tr><td>f2: {% if corso.fq %} ✅ {%else%} ❌ {% endif %}</td><td>f4: {% if corso.f4 %} ✅ {%else%} ❌ {% endif %}</td><td>f6: {% if corso.f6 %} ✅ {%else%} ❌ {% endif %}</td><td>f9: {% if corso.f9 %} ✅ {%else%} ❌ {% endif %}</td></tr>
          </table>
          <!--
        </div>
        <div class="pure-u-1-1 pure-u-md-1-4 pure-u-sm-1-1 pure-u-lg-1-4 pure-u-xl-1-12">f1: {% if corso.f1 %} ✅ {%else%} ❌ {% endif %}</div>
        <div class="pure-u-1-1 pure-u-md-1-4 pure-u-sm-1-1 pure-u-lg-1-4 pure-u-xl-1-12">f2: {% if corso.f2 %} ✅ {%else%} ❌ {% endif %}</div>
        <div class="pure-u-1-1 pure-u-md-1-4 pure-u-sm-1-1 pure-u-lg-1-4 pure-u-xl-1-12">f3: {% if corso.f3 %} ✅ {%else%} ❌ {% endif %}</div>
        <div class="pure-u-1-1 pure-u-md-1-4 pure-u-sm-1-1 pure-u-lg-1-4 pure-u-xl-1-12">f4: {% if corso.f4 %} ✅ {%else%} ❌ {% endif %}</div>
        <div class="pure-u-1-1 pure-u-md-1-4 pure-u-sm-1-1 pure-u-lg-1-4 pure-u-xl-1-12">f5: {% if corso.f5 %} ✅ {%else%} ❌ {% endif %}</div>
        <div class="pure-u-1-1 pure-u-md-1-4 pure-u-sm-1-1 pure-u-lg-1-4 pure-u-xl-1-12">f6: {% if corso.f6 %} ✅ {%else%} ❌ {% endif %}</div>
        <div class="pure-u-1-1 pure-u-md-1-4 pure-u-sm-1-1 pure-u-lg-1-4 pure-u-xl-1-12">f7:{% if corso.f7 %} ✅ {%else%} ❌ {% endif %}</div>
        <div class="pure-u-1-1 pure-u-md-1-4 pure-u-sm-1-1 pure-u-lg-1-4 pure-u-xl-1-12">f8: {% if corso.f8 %} ✅ {%else%} ❌ {% endif %}</div>
        <div class="pure-u-1-1 pure-u-md-1-4 pure-u-sm-1-1 pure-u-lg-1-4 pure-u-xl-1-12">f9: {% if corso.f9 %} ✅ {%else%} ❌ {% endif %}</div>
        -->
      </table>
      <div class="line"></div>
    {% endfor %}
  </tr>
</tbody>
</table>
<br>
<br>



{% endblock content %}
